<div class="main">
<div class="" fxLayout="row" fxLayoutAlign="space-evenly center">
<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p> FARM </p>
  </mat-card-content>
</mat-card>

<!-- Second-->
<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
  <p> SCHOOL </p>
  </mat-card-content>
</mat-card>


<!-- Third Card-->
<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
  <p> TECH SERVICES </p>
  </mat-card-content>
</mat-card>


<!---->
</div>

</div> <!-- Main container-->